#main-content {
  background-color: #fff;
}

/* XS CONTACT INFO BUTTON */
#call-btn {
  background-color: var(--primary);
  margin-bottom: 0px;

}
#call-btn a {
  color: var(--text-color);
  font-size: 1.2em

}
#cal-btn span {
  padding-left: 5px;
}
#email {
  margin-bottom: 5px;
  padding-bottom: 5px;
  background-color: var(--primary);
  font-size: .8em
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   #main-content {
      width: 100%;
      margin: 0px auto 0px;
   }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
