
/* 
Images:
   Portugal.JPG
   Portugal/P1000920.JPG
   Portugal/espinho.JPG
   New Zealand/Asset0025.jpg
*/

.parallax-caption {
   margin: 50px 50px;
   padding: 50px 50px;
   /*background-color: var(--secondary);*/
   background-color: var(--primary);
   color: white;
   text-align: center;
}

.top-image{ 
  background-image: url("./../images/Portugal/peniche.JPG");
  height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.middle-image { 
  background-image: url("./../images/Portugal/espinho.JPG");
  height: 350px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-image { 
  background-image: url("./../images/New Zealand/Asset0025.jpg");
  height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}